<h1>Welcome to HF Analyst</h1>

<p>Investors use us to:</p>
<ul>
	<li>Compare funds instantly</li>
	<li>Easily upload funds you are prospecting</li>
	<li>Manage data simplistically</li>
</ul>
<p>Visit us <%= link_to 'here', root_url %>.</p>