<h1>New User Video</h1>

<h2>Checkout this video to review the site's core functionality</h2>

<div style="margin: 0 auto; width: 75%">
	<video autobuffer="autobuffer" width="720" height="480" controls="controls" src="/practice-video.mov"></video>
</div>
