# This is a list of things to be fixed

#1) fund show_view any? returns true to an array with nothing in it
#2) fund show_view error_messages are not showing up
#3) month form_for limit date to only the current dates
#4) When creating the restrictions on types of users, make a list of them - both for the controllers and resources
#5) fund show_view when listing months, show if greater than or equal to first record
#6) DONE - STYLING center everything.  make sure all the text is the same font.
#7) UPDATE or create by on the show view form
#8) DONE - WHEN UPLOADING DATA, IT DOESN'T CREATE A DATE FOR EACH FUND
#9) DONE - fix number of decimals that gross, net, and return can take.  Add return as a column.
#10) fix the logic for months and creating new funds
#11) make the number_fields maintain a % symbol while typing 
#12) get rid of month_index view
#13) make a different css tag for centering.  change from fieldset 
#14) ORDER the models by specific FIELDS
#15) make all names case insensitive in the models  
#16) make users only able to belong to 1 fund (make unique by email address)
#17) in the submenu, the link_to Current_Month does not de-link when logging in because it is calling root, not current_month.  make the current_month link de-link when logging in and being directed to root.
#18) CREATE EDIT PAGE FOR EACH MONTH

USER
a) DONE - header: if logged_in? get rid of "Log In Link"
b) DONE - add before_filters everywhere   
c) DONE - move CREATE USER to the INVESTOR SHOW PAGE

	style="margin-left:3px; margin-right:3px"

	style="float:left; margin-right:3px"


	['fund_0','fund_1','fund_2','fund_3','fund_4','fund_5']

	$('#cumulative_return_chart').data('keys_from_hash')

	#the corresponding code for the show view for funds

	

	<th>Max Drawdown</th>

	<td><%= number_to_percentage(max_drawdown(f, @new_fund_dates[0], @new_fund_dates[1]), precision: 2) %></td>
	

	3.17.2013
	<%= hidden_field_tag 'user[investor_id]', current_user.investor_id %>




