<h1>Edit <%= @investor.name %></h1>

<fieldset>
	<%= form_for @investor do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= render 'shared/investor_form', f: f %>
	<% end %>
</fieldset>